.icontext1{
    a{
        text-decoration: none;
        font-size: 12px;
        background-color: navy;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 120px;
        gap: 5px;
        color: #fff;
        font-weight: 500;
    }
    a:hover{
        color: lightgreen;
        transform: scale(1.1);
        transition: .6s;
    }
}